*{
    margin: 0;
}
body{
    background-color: #ede2c2;
    display: grid;
    grid-template-rows: 15% auto;
    /* background-image: url("../images/barnabyKitchen1.png"); */
    /* background-size: 50%; */
}
nav{
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #bf1c37;
    box-shadow:0px 1px 7px 0px #bf1c37, 0px 5px 15px 0px #bf1c37, 0px 16px 17px -5px #bf1c37, 0px 32px 27px -20px #bf1c37;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
}
nav>a{
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
}
.main{
    grid-row-start: 2;
  grid-row-end: 2;
}
h1{
    opacity: 0;
    text-align: center;
    color: #525252;
    font-family: 'Alegreya SC', serif;
    font-size: 4rem;
}
p{
    opacity: 0;

    margin: 2rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
}
.card{
    position: relative;
    height: auto;
    width: 50.2rem;
    margin: 10rem auto 5rem;
    padding-top: 1rem;
    border-radius: 4px;
    background-color: #fffbf0;
    border-top-right-radius: 4%;
    box-shadow: -8px 9px 16px -7px rgba(.5,.5,.5,.5);
    overflow: hidden;
}

.card:before{
    content: "";
    position: absolute;
    box-shadow: 0px 120px 1px -3px #8ebee5, 0px 160px 1px -3px #8ebee5, 0px 200px 1px -3px #8ebee5, 0px 240px 1px -3px #8ebee5, 0px 280px 1px -3px #8ebee5, 0px 320px 1px -3px #8ebee5, 0px 360px 1px -3px #8ebee5, 0px 400px 1px -3px #8ebee5, 0px 440px 1px -3px #8ebee5, 0px 480px 1px -3px #8ebee5, 0px 520px 1px -3px #8ebee5, 0px 560px 1px -3px #8ebee5;
    height: 1%;
    width: 100%;

}

.card-design{
    background-color:#b3d6f3;
    box-shadow: 0px 0px 1.5px #b3d6f3;
}

.thick-line{
    height: .5rem;
    margin: 3rem 0 .5rem;
}
.thin-line{
    height: .25rem;
}
.left-line-container{
    margin-left: .75rem;

}
.left-designA{
    height: 4rem;
    width: 1.25rem;
    border-radius: 25% 92% 0% 90%;
    display: inline-block;
    transform: translateX(18px) translateY(21px) rotate(-80deg);
}
.left-designB{
    height: 3.5rem;
    width: 1.25rem;
    border-radius: 25% 92% 0% 90%;
    display: inline-block;
    transform: translateX(4px) translateY(-6px) rotate(-50deg);
}
.middle-design{
    display: inline-block;
    width: 45px;
  height: 45px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transform: translateY(-31px) rotate(134deg);
  margin-top: 20px;
}
.middle-design-circle{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    top: 65px;
    right: 395.5px;
}
.right-designA{
    height: 4rem;
    width: 1.25rem;
    border-radius: 92% 25% 90% 0%;
    display: inline-block;
    transform: translateX(-18px) translateY(21px) rotate(80deg);

}
.right-designB{
    height: 3.5rem;
    width: 1.25rem;
    border-radius: 92% 25% 90% 0%;
    display: inline-block;
    transform: translateX(-4px) translateY(-6px) rotate(50deg);

}
.line-container{
    width: 38%;
    display: inline-block;
}
.middle-illustration{
    width: 20%;
    display: inline-block;
    text-align: center;
}

.food-container{
    opacity: 0;

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.food{
    width: 20%;
    height: 15rem;
    border: dashed pink thick;
}